<div class="pt-4 d-block mb-4">
    <button mat-raised-button class="add-button" (click)="open(topModal, { windowClass: 'modal-top' })">Add A New Employee</button>
</div>

<div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md" *ngFor="let employee of employees" (click)="showEmployee(employee.id)">
        <div class="contact shadow">
          <h4><span class="name-initial">{{employee.name.split(' ')[0][0]}} {{employee.name.split(' ')[1][0]}}</span></h4><br>
          <h4 class="mb-0 mt-0">{{employee.name}}</h4>
          <p class="mb-0 mt-0">{{employee.position}}</p>
        </div>
      </div>
    </div>
</div>


<ng-template #topModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title">
        New Employee
      </h5>
    </div>
      <div class="modal-body" >
        <div  class="card mb-4 save-customer-card">
            <form [formGroup]="addEmployeeForm">
                <div class="form-group">
                    <label class="form-label"> Employee Name:</label>
                    <input type="text" class="form-control" placeholder="Name" formControlName="name">
                    <small class="text-danger">Name is required</small>
                </div> 
                <div class="form-group">
                    <label class="form-label"> Phone Number:</label>
                    <input type="text" class="form-control" placeholder="+234XXXXXXXX" formControlName="phoneNo">
                </div>  
                <div class="form-group">
                    <label class="form-label"> Email:</label>
                    <input type="text" class="form-control" placeholder="example@gmail.com" formControlName="email">
                </div> 
                <div class="form-group">
                    <label class="form-label"> Address:</label>
                    <textarea  class="form-control" placeholder="123 main str, Isolo" formControlName="address"></textarea>
                </div> 
                <div class="form-group">
                    <label class="form-label"> Position:</label>
                    <input type="text"  class="form-control" placeholder="Secretary" formControlName="position">
                </div> 
                <div class="form-group">
                    <label class="form-label"> Qualification:</label>
                    <ng-select
                        [items]="qualifications"
                        bindLabel="name"                    
                    >
                    </ng-select>
                </div> 
            </form>
        </div>
    
       <div class="modal-footer">
         <button class="btn btn-primary" (click)="saveEmployee()">Save</button>
       </div>
      </div>    
</ng-template>
