<div class="pos-body"> 
  <!-- <div class="pos-top"></div> -->
    <div class="row">
        <div class="col-md-4">
            
            <div class="orderScreen">
                <table class="table table-striped">
                  <thead>
                    <td>
                      <b>Qty</b>
                    </td>
                    <td>
                      <b>Item</b>
                    </td>
                    <td>
                      <b>Price</b>
                    </td>
                    <td></td>
                  </thead>
                  <tr *ngFor="let order of orders; index as i">
                    <td>
                      <input type="number" style="width:50px" (change)="setQuantity(quantity.value,i)" #quantity>
                    </td>
                    <td>
                      {{order.name}}
                    </td>
                    <td>
                      ₦{{order.price.salePrice}}
                    </td>
                    <td>
                      <i class="fa fa-trash" (click)="removeItem(i)"></i>
                    </td>
                  </tr>
                </table>
                <div class="orderScreen" *ngIf="orders.length==0" style="opacity:0.3; text-align: center">
                    <h1><i class="fa fa-shopping-cart"></i></h1>
                    <h3>Your shopping cart is empty!!!</h3>
                </div>
                <div style="position:absolute; top:200px; right:40px"><b>Total:₦{{total}}</b></div>
            </div>
            
          <div class="calculator" style="width:90%; margin-left:auto; margin-right:auto">    
            <div>              
              <div class="p-4">
                <div class="form-group">
                  <label class="form-label">Select Customer</label>
                  <ng-select
                    [items]="customers"
                    bindLabel="firstName"
                  >                    
                  </ng-select>
                </div>
                <hr>
                <div class="row">
                  <div class="col-4">
                    <button class="btn btn-primary" (click)="completeSale()">Pay>>></button>
                  </div>
                  <div class="col-4">
                    <button class="btn btn-success">Receipt</button>
                  </div>
                  <div class="col-4">
                    <button class="btn btn-danger" (click)="resetSales()">Reset</button>
                  </div>
                </div>

                <hr>

                <div class="order-display-screen mt-2">
                    <table>
                      <tr>
                        <td>Customer:</td>
                        <td>Com Mukaila</td>
                      </tr>
                      <tr>
                        <td>Total:</td>
                        <td>5000</td>
                      </tr>
                    </table>
                </div>
              </div>
            </div>            
            
          </div>
          
        </div>
    
        <div class="col-md-8 order" style="background-color: rgb(225, 230, 230); border-top:2px solid red">
            <input type="search" style="width:100%; border-radius:5px; text-align:center; border:none" placeholder="type in keyword to search" class="mt-2 mb-2" #food>
            <div  style="height:100vh">
                <div class="loader" *ngIf="loadProducts"></div>
                <!-- <h3 *ngIf="foodExists" style="opacity:0.3; text-align:center">Your have no products under this category!!!</h3> -->
                <div class="row">
                <div class="col-sm-3 food cursor-pointer" *ngFor="let product of products" style="height:100px; background-color:white; box-shadow:1px 3px 3px rgb(189, 189, 192); float:left" (click)="addToCart(product)">
                    <div class="mb-2 mr-2 mt-1 product-div">
                      <p class="name">{{product.name}}</p>
                      <p class="price">₦{{product.price.salePrice}}.00</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
      </div>
    
      <div id="bill" class="d-none">
        <table class="table table-striped">
          <thead>
            <td>
              <b>Qty</b>
            </td>
            <td>
              <b>Item</b>
            </td>
            <td>
              <b>Price</b>
            </td>
          </thead>
          <tr *ngFor="let order of orders; index as i">
            <td>
              {{order.quantity}}
            </td>
            <td>
              {{order.name}}
            </td>
            <td>
              ₦{{order.sellPrice}}
            </td>
          </tr>
        </table>
        <div style="position:absolute; top:200px; right:30px"><b>Total:₦{{total}}</b></div>
        <!-- <code>You were served by: <b>{{cashierName}}</b></code> -->
    </div> 
</div>