<h2 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
    <div>Skill Monitioring</div>
    <div><button class="btn btn-primary brkdown-btn" (click)="showTable=!showTable">View Breakdown</button></div>
  </h2>
  
  <div> 
      <div class="container" *ngIf="showTable">
        <div class="card">
            <ngx-charts-pie-chart
                [view]="view"
                [scheme]="colorScheme"
                [results]="skillsChart"
                [gradient]="gradient"
                [legend]="showLegend"
                [legendPosition]="legendPosition"
                [labels]="showLabels"
                [doughnut]="isDoughnut"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
                >
            </ngx-charts-pie-chart>
        </div>
      </div>

    
 <div *ngIf="!showTable">  
    <div class="row mb-1" >
        <div class="col-sm-6 col-md-6 d-inline-flex">
            <input type="text"
            [(ngModel)]="filterVal"
            (input)="searchTable()"
            class="form-control w-auto"
            placeholder="Search...">
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 ">
          <a target="_blank" class="btn btn-primary mr-1 pull-right" style="color:white"(click) = "printTable()">
              <i class="ion ion-md-print"></i>&nbsp; Print
          </a>
        </div>
      </div>
  <div class="table-responsive mt-2">
      <img *ngIf="loading" src="assets/img/loader.gif" style="width:30%;margin-left:30%;">
    <table  *ngIf="!loading" class="table table-striped card-table" id="tableRecord">
      <thead>
            <th>Employee Name <i class="ion text-muted ml-2"></i></th>
            <th>Number of skills <i class="ion text-muted ml-2"></i></th>
            <th>Certified Skills <i class="ion text-muted ml-2"></i></th>
       </thead>
      <tbody>
        <tr *ngFor="let skill of skills" >
          <td>{{skill.employeeName }}</td>
          <td>{{skill.skills}}</td>
          <td>{{skill.certifiedSkills}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
  